@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Kalnia&family=Lobster&family=M+PLUS+1:wght@400;500&family=Montserrat:wght@300;400;600&family=Mulish:ital,wght@0,400;0,800;1,400&family=Open+Sans:ital,wght@0,400;0,600;1,400&family=Playfair+Display&family=Raleway:wght@200&family=Roboto:ital,wght@0,700;1,100;1,400;1,500&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Kalnia', serif;
}